<div class="span12" ng-controller="FindTwitterFriendsCtrl">
    <form class="row-fluid" ng-hide="fetchingFriends" ng-submit="search()">
        <input class="span2" type="text" ng-model="twitterHandle" placeholder="Enter Twitter Name...">
        <button class="btn span2">Search</button>
    </form>

    <div class="row-fluid" ng-show="fetchingFriends">
        <h4>Fetching Matching Twitter Users...</h4>
        <div class="progress progress-striped active row">
            <div class="bar span12" style="width:100%"></div>
        </div>
    </div>

    <div class="row-fluid" ng-show="twitterers.length">
        <h3>Found Twitter Users</h3>
        <input class="span2" tye="text" ng-model="friendSearch" placeholder="Filter...">
    </div>

    <norm-row title="{{friend.name}}" class="friend twitter-friend" href="#/trips/{{currentTrip.id}}/members/{{member.id}}" src="{{friend.profile_image_url}}" ng-repeat="friend in twitterers | filter:friendSearch">
        <div class="friend-details">
            <a class="btn" href="javascript:;" ng-hide="friend.invited" ng-click="invite($index)">Invite</a>
            <span class="invited" ng-show="friend.invited">Invited</span>
            <span class="description">@{{friend.screen_name}} &mdash; {{friend.description}}</span>
        </div>
    </norm-row>

</div>