<div class="span12" ng-controller="FindFacebookFriendsCtrl">
    <form class="row-fluid" ng-hide="fetchingFriends" ng-submit="search()">
        <input class="span2" type="text" ng-model="facebookName" placeholder="Enter Facebook Name...">
        <button class="btn span2">Search</button>
    </form>

    <div class="row-fluid" ng-show="fetchingFriends">
        <h4>Fetching Matching Facebook Users...</h4>
        <div class="progress progress-striped active row">
            <div class="bar span12" style="width:100%"></div>
        </div>
    </div>

    <div class="row-fluid" ng-show="facebookers.length">
        <h3>Found Facebook Users</h3>
        <input class="span2" tye="text" ng-model="friendSearch" placeholder="Filter...">
    </div>

    <norm-row title="{{friend.name}}" class="friend facebook-friend" src="{{friend.pic_square}}" ng-repeat="friend in facebookers | filter:friendSearch">
        <a class="btn" href="javascript:;" ng-hide="friend.invited || facebookInvited(friend)" ng-click="inviteFacebooker(friend)">Invite</a>
        <span class="invited" ng-show="friend.invited || facebookInvited(friend)">Invited</span>
    </norm-row>

</div>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '363527310425232',                        // App ID from the app dashboard
      // channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel file for x-domain comms
      status     : true                                 // Check Facebook Login status
      // xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>