<div ng-show="fetchingFriends">
    <h4>Fetching Twitter Friends...</h4>
    <div class="progress progress-striped active row">
        <div class="bar span12" style="width:100%"></div>
    </div>
</div>
<div class="row" ng-hide="fetchingFriends">
    <input class="span2" tye="text" ng-model="friendSearch" placeholder="Search...">
</div>

<norm-row title="{{friend.name}} (@{{friend.screen_name}}" ng-class="{'invited': friend.invited}" href="#/trips/{{currentTrip.id}}/members/{{member.id}}" src="{{friend.profile_image_url}}" ng-repeat="friend in twitterFriends | filter:friendSearch">
    <div class="user-details">
        <a class="btn" href="javascript:;" ng-click="invite($index)">Invite</a>
        <span class="invited-text">Invited</span>
        <em>{{friend.status.text}}</em>
    </div>
</norm-row>