<div class="navigation">
    <norm-back-button></norm-back-button>
    <a ui-if="isMe(member)" ng-href="#/trips/{{tripId}}/members/{{member.id}}/edit">
        <i class="icon icon-edit"></i>
    </a>
</div>

<div class="top-section">
    <div id="trip_cost">{{member.name}}</div>
</div>

<div class="bottom-section">
    <span class="section-row">
        <div class="expense-cost" ng-bind-html-unsafe="member.contributed | currency | normCurrency">
        </div>
        <div class="divider"></div>
        <div class="expense-name">Total Contributed</div>
    </span>
    <span class="section-row">
        <div class="expense-cost" ng-bind-html-unsafe="member.obligated | currency | normCurrency">
        </div>
        <div class="divider"></div>
        <div class="expense-name">Total Obligated</div>
    </span>
<!--     <span class='section-row'>
        <div class='expense-cost' ng-bind-html-unsafe="member.due | currency | normCurrency">
        </div>
        <div class='divider'></div>
        <div class='expense-name'>Total Due</div>
    </span>
    <span class='section-row'>
        <div class='expense-cost' ng-bind-html-unsafe="member.owe | currency | normCurrency">
        </div>
        <div class='divider'></div>
        <div class='expense-name'>Total Owe</div>
    </span> -->

    <h3>Members You Owe</h3>
    <span class="section-row" ng-show="due_member.amount != '0.0'" ng-repeat="due_member in member.due_members">
        <div class="expense-cost" ng-bind-html-unsafe="due_member.amount | currency | normCurrency">
        </div>
        <div class="divider"></div>
        <div class="expense-name">{{due_member.user.name}}</div>
    </span>

    <h3>Members That Owe You</h3>
    <span class="section-row" ng-show="owe_member.amount != '0.0'" ng-repeat="owe_member in member.owe_members">
        <div class="expense-cost" ng-bind-html-unsafe="owe_member.amount | currency | normCurrency">
        </div>
        <div class="divider"></div>
        <div class="expense-name">{{owe_member.user.name}}</div>
    </span>


    <h3>Purchases</h3>
    <span class="section-row" ng-repeat="expense in member.purchases">
        <div class="expense-cost" ng-bind-html-unsafe="expense.cost | currency | normCurrency">
        </div>
        <div class="divider"></div>
        <div class="expense-name">{{expense.name}}</div>
    </span>
    <div ng-hide="hasPurchases()">
        <em>None</em>
    </div>

    <h3>Obligations</h3>
    <span class="section-row" ng-repeat="obligation in member.obligations">
        <div class="expense-cost" ng-bind-html-unsafe="obligation.amount | currency | normCurrency">
        </div>
        <div class="divider"></div>
        <div class="expense-name">{{obligation.expense.name}}</div>
    </span>
    <div ng-hide="hasObligations()">
        <em>None</em>
    </div>

    <h3>Contributions</h3>
    <span class="section-row" ng-repeat="contribution in member.contributions">
        <div class="expense-cost" ng-bind-html-unsafe="contribution.amount | currency | normCurrency">
        </div>
        <div class="divider"></div>
        <div class="expense-name">{{contribution.expense.name}}</div>
    </span>
    <div ng-hide="hasContributions()">
        <em>None</em>
    </div>
</div>

<div ui-if="isOrganizer(trip)">
    <div class="row-fluid">
        <button ui-if="!isMe(member)" ng-click="delete()" class="span6 btn btn-large">Delete Member</button>
        <button ui-if="isMe(member) && !isOrganizer(trip)" ng-click="delete()" class="span6 btn btn-large">Leave Trip</button>
    </div>
</div>