<div class="top-section">
    <div id="trip_name">Junketeer</div>

    <div id="trip_cost">Log In</div>
</div>

<div class="bottom-section">
    <form method="get" html="classform-horizontal" action="{{domain}}/auth/twitter?oauth_callback=http://www.google.com" accept-charset="UTF-8">
        <div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
        <fieldset>
            <div>
                <button type="submit" class="twitter-button">
                </button>
            </div>
        </fieldset>
    </form>
</div>