<form method="get" html="classform-horizontal" action="{{domain}}/auth/twitter" accept-charset="UTF-8">
    <div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
    <fieldset>
        <div>
            <button type="submit" class="twitter-button">
            </button>
        </div>
    </fieldset>
</form>

<form method="get" html="classform-horizontal" action="{{domain}}/auth/facebook" accept-charset="UTF-8">
    <div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
    <fieldset>
        <div>
            <button type="submit" class="facebook-button">
            </button>
        </div>
    </fieldset>
</form>