<form ng-submit="create()" class="span12">
    <div class="row-fluid">
        <label class="span2" for="name">Name</label>
        <input class="span6" type="text" required="" ng-model="trip.name">
    </div>
    <div class="row-fluid">
        <label class="span2" for="name">Location</label>
        <input class="span6" type="text" required="" ng-model="trip.location">
    </div>
    <div class="row-fluid">
        <label class="span2" for="name">Start Date</label>
        <input class="span6" norm-datepicker="" type="text" required="" ng-model="trip.starts_on">
    </div>
    <div class="row-fluid">
        <label class="span2" for="name">End Date</label>
        <input class="span6" norm-datepicker="" type="text" required="" ng-model="trip.ends_on">
    </div>
    <div class="row-fluid">
        <label class="span2" for="name">Description</label>
        <textarea class="span6" ng-model="trip.description"></textarea>
    </div>
    <div class="row-fluid">
        <div ui-if="!currentUser.facebook_id" class="span6">
            <span>You must first connect your account to Facebook</span>
        </div>
        <norm-input-switch ui-if="currentUser.facebook_id" class="span8" label="Create Facebook Event?" ng-model="trip.needs_facebook_event">
    </div>
    <div class="row-fluid">
        <button type="submit" class="span8 btn btn-large">{{action}} Trip</button>
    </div>
    <div class="row-fluid">
        <button ng-show="expense.id" class="span8 btn btn-large" ng-click="delete()">Delete Trip</button>
    </div>
</form>