<norm-row title="Organizer" src="{{currentTrip.organizer.profile_image_url}}">{{currentTrip.organizer.name}}</norm-row>
<norm-row title="Location" icon="globe">{{currentTrip.location}}</norm-row>
<norm-row title="Group Size" icon="group">{{currentTrip.total_members}}</norm-row>
<norm-row title="Total Cost" icon="credit-card">
	<span class="currency">$</span>
	<span ui-currency="{ symbol: ''}" ng-model="currentTrip.total_cost"></span>
</norm-row>
<norm-row title="Average Cost" icon="credit-card">
	<span class="currency">$</span>
	<span ui-currency="{ symbol: ''}" ng-model="currentTrip.average_cost_per_member"></span>
</norm-row>