<div class='span12' ng-controller='FindFacebookFriendsCtrl'>
    <form class='row-fluid' ng-hide='fetchingFriends' ng-submit="search()">
        <input class='span2' type='text' ng-model='facebookName' placeholder='Enter Facebook Name...' />
        <button class='btn span2'>Search</button>
    </form>

    <div class='row-fluid' ng-show='fetchingFriends'>
        <h4>Fetching Matching Facebook Users...</h4>
        <div class="progress progress-striped active row">
            <div class="bar span12" style='width:100%'></div>
        </div>
    </div>

    <div class='row-fluid' ng-show='facebookers.length'>
        <h3>Found Facebook Users</h3>
        <input class='span2' tye='text' ng-model='friendSearch' placeholder='Filter...' />
    </div>

    <norm-row title="{{friend.name}}" class='friend facebook-friend' src="{{friend.pic_square}}" ng-repeat='friend in facebookers | filter:friendSearch'>
        <a class='btn' href="javascript:;" ng-hide='friend.invited || facebookInvited(friend)' ng-click='inviteFacebooker(friend)'>Invite</a>
        <span class='invited' ng-show='friend.invited || facebookInvited(friend)'>Invited</span>
    </norm-row>


    <div ng-show='invitedFacebooker'>
      <div class='row-fluid'>
          <h3>Invited Successfully</h3>
      </div>

      <norm-row title="{{invitedFacebooker.name}}" class='friend facebook-friend' src="{{invitedFacebooker.profile_image_url}}">
          <span class='invited'>Invited</span>
      </norm-row>
    </div>

</div>