<form ng-submit="save()" class="span12">
    <div class="row-fluid">
        <label class="span2" for="name">Amount</label>
        <input class="span6" type="input" pattern="[0-9]*" required="" ng-model="contribution.amount">
    </div>
    <div class="row-fluid">
        <button type="submit" class="span6 btn btn-large">Add Contribution</button>
    </div>
    <div class="row-fluid">
        <button type="button" ng-show="contribution.id" class="span6 btn btn-large" ng-click="delete()">Delete Contribution
    </button></div>
</form>