<norm-row title="Purchaser">{{expense.purchaser.name}}</norm-row>

<norm-row title="Average Cost">
    <span ng-bind-html-unsafe="expense.average_cost | currency | normCurrency"></span>
</norm-row>

<div ng-show="hasTip()">
    <norm-row title="Tip">
        <span ng-bind-html-unsafe="expense.tip | currency | normCurrency"></span>
    </norm-row>

    <norm-row title="Average Tip">
        <span ng-bind-html-unsafe="expense.average_tip | currency | normCurrency"></span>
    </norm-row>

    <norm-row title="Average Cost (w/0 tip)">
        <span ng-bind-html-unsafe="expense.average_tip_without_tip | currency | normCurrency"></span>
    </norm-row>
</div>

<h3>Obligations</h3>
<div ng-switch="canEditObligation(obligation)" ng-repeat="obligation in expense.obligations">
    <norm-row ng-switch-when="true" src="{{obligation.user.profile_image_url}}" title="{{obligation.user.name}}" href="#/trips/{{expense.trip_id}}/expenses/{{expense.id}}/obligations/{{obligation.id}}/edit">
        <span ng-bind-html-unsafe="obligation.amount | currency | normCurrency"></span>
    </norm-row>

    <norm-row ng-switch-when="false" src="{{obligation.user.profile_image_url}}" title="{{obligation.user.name}}">
        <span ng-bind-html-unsafe="obligation.amount | currency | normCurrency"></span>
    </norm-row>
</div>
<div ng-hide="hasObligations()">
    <em>None</em>
</div>

<h3>Contributions</h3>
<norm-row title="{{contribution.user.name}}" src="{{contribution.user.profile_image_url}}" href="#/trips/{{expense.trip_id}}/expenses/{{expense.id}}/contributions/{{contribution.id}}/edit" ng-repeat="contribution in expense.contributions">
    <span ng-bind-html-unsafe="contribution.amount | currency | normCurrency"></span>
</norm-row>

<a ng-href="#/trips/{{expense.trip_id}}/expenses/{{expense.id}}/contributions/new" ng-show="canAddContribution()">
    <em>Add Contribution</em>
</a>