<form ng-submit="create()" class="span12">
    <div class="row-fluid">
        <label class="span2" for="name">Name</label>
        <input class="span6" type="text" required="" ng-model="expense.name">
    </div>
    <div class="row-fluid">
        <label class="span2" for="name">Type</label>
        <select class="span6" required="" ng-model="expense.expense_type" ng-options="expenseType for expenseType in ['Gas', 'Food', 'Alcohol', 'Room', 'Adventure', 'Misc']">
            <option value="">-- Choose --</option>
        </select>
    </div>
    <div class="row-fluid">
        <label class="span2" for="name">Cost</label>
        <input class="span6" type="input" required="" ng-model="expense.cost">
    </div>
    <div class="row-fluid">
        <a id="add_tip" class="span2" href="javascript:;" ng-click="addTip()" ng-hide="addTipVisible"><i class="icon-plus icon-white"></i> Tip</a>
        <div id="expense_tip" ng-show="addTipVisible">
            <label class="span2" for="name">
                Tip
                <a href="javascript:;" ng-click="removeTip()">remove</a>
            </label>
            <input class="span6" type="input" ng-required="addTipVisible" ng-model="expense.tip">
        </div>
    </div>
    <div class="row-fluid">
        <button type="submit" class="span6 btn btn-large">{{action}} Expense</button>
    </div>
    <div class="row-fluid">
        <a ng-show="expense.id" class="span6 btn btn-large" ng-click="delete()">Delete Expense</a>
    </div>
</form>