<div class="navigation">
    <norm-back-button></norm-back-button>
</div>


<div class="top-section" ng-switch="" on="action">
    <div ng-switch-when="Create">
        <div id="trip_name">Create</div>
        <div id="trip_cost">Expense</div>
    </div>
    <div ng-switch-default="">
        <div id="trip_name">{{expense.name}}</div>
        <div id="trip_cost" ng-bind-html-unsafe="expense.cost | currency | normCurrency"></div>
    </div>
</div>

<div class="bottom-section">
    <form ng-submit="create()" class="span12">
        <div class="row-fluid">
            <label class="span6" for="name">Name</label>
            <input class="span6" type="text" required="" ng-model="expense.name">
        </div>
        <div class="row-fluid">
            <label class="span6" for="name">Type</label>
            <select class="span6" required="" ng-model="expense.expense_type" ng-options="expenseType for expenseType in ['Gas', 'Food', 'Alcohol', 'Room', 'Adventure', 'Misc']">
                <option value="">-- Choose --</option>
            </select>
        </div>
        <div class="row-fluid">
            <label class="span6" for="name">Cost</label>
            <input class="span6" type="input" required="" ng-model="expense.cost">
        </div>
        <div class="row-fluid">
            <a id="add_tip" class="span6" href="javascript:;" ng-click="addTip()" ng-hide="hasTip"><i class="icon-plus icon-white"></i> Tip</a>
            <div id="expense_tip" ng-show="hasTip">
                <label class="span6" for="name">
                    Tip
                    <a href="javascript:;" ng-click="removeTip()">remove</a>
                </label>
                <input class="span6" type="input" ng-required="hasTip" ng-model="expense.tip">
            </div>
        </div>
        <div class="row-fluid">
            <button type="submit" class="span6 btn btn-large">{{action}} Expense</button>
        </div>
        <div class="row-fluid">
            <button ng-show="expense.id" class="span6 btn btn-large" ng-click="delete()">Delete Expense</button>
        </div>
    </form>
</div>