<div id="members" class="content-body row-fluid" ng-show="isActive(\"members\")" ng-controller="MembersCtrl">
    <div class="span12">
        <div class="row-fluid">
            <h2>Members</h2>
        </div>
        <a class="row-fluid member" href="#/trips/{{trip.id}}/members/{{member.id}}" ng-repeat="member in members">
            <h3>{{member.name}} <i class="icon-arrow-right icon-white"></i></h3>
            <div class="row-fluid">
                <div class="span12">Total Paid: <strong>{{member.total_paid}}</strong></div>
            </div>
            <div class="row-fluid">
                <div class="span12">Total Cost: <strong>{{member.total_obligated}}</strong></div>
            </div>
            <div class="row-fluid" ng-show="member.total_owed != '$0.00'">
                <div class="span12">Amount Owe: <strong>{{member.total_owed}}</strong></div>
            </div>
            <div class="row-fluid" ng-show="member.total_due != '$0.00'">
                <div class="span12">Amount Due: <strong>{{member.total_due}}</strong></div>
            </div>
        </a>
    </div>
</div>