<div class='navigation' norm-scroll-shadow>
	<span ui-if='backButtonVisible' ng-switch on='navigationStack.empty()'>
    <a ng-switch-when='true' href='javascript:window.history.back()'>
        <i class='icon icon-arrow-left'></i>
    </a>
    <a ng-switch-when='false' ng-href='#{{navigationStack.current()}}'>
        <i class='icon icon-arrow-left'></i>
    </a>
	</span>
	<a ui-if='tasksButtonVisible' id='settings_button' href='javascript:;'><i class='icon icon-tasks'></i></a>
	<a ui-if='rightButton' ng-href='#{{rightButton.link}}'><i class='icon icon-{{rightButton.type}}'></i></a>
</div>
