<div class="navigation clearfix">
	<span ui-if="backButtonVisible" ng-switch="" on="navigationStack.empty()">
    <a class="icon-btn" ng-switch-when="true" href="javascript:window.history.back()">
        <i class="icon icon-arrow-left"></i>
    </a>
    <a class="icon-btn" ng-switch-when="false" ng-href="#{{navigationStack.current()}}">
        <i class="icon icon-arrow-left"></i>
    </a>
	</span>
	<a class="icon-btn" ui-if="tasksButtonVisible" id="settings_button" href="javascript:;"><i class="icon icon-tasks"></i></a>
	<a class="icon-btn" ui-if="rightButton" ng-href="#{{rightButton.link}}"><i class="icon icon-{{rightButton.type}}"></i></a>
</div>