

#add_tip{
  margin-top: 15px;
}

#expense_tip{
  margin-top: 15px;
}

.expense{
  a{
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #636060;
  }
  .icon-arrow-right{
    float: right;
    margin-top: 5px;
  }
}

.edit-obligations-contributions{
  .btn{
    margin-left: 10px;
  }
}