.header{
  margin-top: 25px;
  z-index: 2;
  background: $background;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  hr{
    clear: both;
    float: left;
    margin-bottom: 0;
    width: 100%;
  }
}

#main_header{
  font-size: 20px;
  min-height: 20px;
}

#secondary_header{
  font-size: 65px;
  line-height: 65px;
  margin-bottom: 5px;
  position: relative;

  .currency{
    font-size: 20px;
    top: -12px;
    position: relative;
    float: left;
  }
}
