.social{
	margin-bottom: 20px;
	a{
		float: left;
		width: 32%;
		display: block;
		text-align: center;

		img{
			opacity: .2;
		}
	}

	.active{
		img{
			opacity: 1;
		}
	}
}

.friend{
	.btn{
		float: left;
		margin-top: 5px;
	}

	h4{
		float: left;
	}

	.invited{
		float: left;
		clear: left;
	}

	.friend-details{
		float: left;
		clear: left;
	}

	.description{
		color: $gray;
	}
}

.facebook-friend, .twitter-friend{

}

.twitter-friend{
	.invited{
		float: right;
		margin-left: 10px;
	}

	.btn{
		float: right;
		margin-left: 10px;
	}
}


