@-webkit-keyframes rotation {
    from{
    	-webkit-transform: rotate(0deg);
    }
    to{
    	-webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from{
    	-moz-transform: rotate(0deg);
    }
    to{
    	-moz-transform: rotate(359deg);
    }
}

keyframes rotation {
    from{
    	transform: rotate(0deg);
    }
    to{
    	transform: rotate(359deg);
    }
}

#app_title{
	margin-top: 25px;
	text-align: center;
	padding-bottom: 25px;
	border-bottom: 1px solid $gray;
	margin-bottom: 25px;

	img{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
		animation: rotation 60s infinite linear;
		-webkit-animation: rotation 60s infinite linear;
		-moz-animation: rotation 60s infinite linear;

	}
}

#sign_in{
	h2{
		text-align: center;
		color: gray;
		margin-top: 3px;
	}
}

#twitter_sign_in, #facebook_sign_in{
	width: 50%;
	text-align: center;
	line-height: 150px;
	float: left;
}
.twitter-button{
  background: url('/images/twitter.png') 0 0 no-repeat;
  width: 100px;
  height: 87px;
  border: none;
}

.facebook-button{
  background: url('/images/facebook.png') no-repeat;
  width: 100px;
  height: 100px;
  border: none;
}

