.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-moz-transition:left .5s;
	-webkit-transition:left .5s;
	-o-transition:left .5s;
	transition:left .5s;
	width: 100%;
	background: $background;
	z-index: 4;
	-webkit-box-shadow: 0px -5px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px -5px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px -5px 5px rgba(50, 50, 50, 0.75);
	overflow: hidden;
}

.tabs{
	position: relative;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  .active{
    text-shadow: 0px 0px 10px $orange;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
	}
}

.tab{
	display: block;
	position: relative;
	border-right: 2px solid #FFFFFF;
	-webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  padding: 5px 0;
  font-size: 35px;
	height: 42px;
  line-height: 40px;
  text-align: center;


  -webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;


	&:active, &:hover, &:focus{
		border-right: 2px solid #ffffff;
	}
}

.tab-selector{
	background-color: $orange;
	border-radius: 999px;
	height: 15px;
	width: 15px;
	position: absolute;
	left: 25px;
	bottom: -7px;
	box-shadow: 0 0 5px $orange;
	transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-box-shadow: 0 0 5px $orange;
  -moz-box-shadow: 0 0 5px $orange;
  -webkit-transition: left 0.7s ease-out;
	transition: left 0.7s ease-out;
  -moz-transition: left 0.7s ease-out;
	-o-transition: left 0.7s ease-out;
}


.tab:last-child {
	border: none;

	&:active, &:hover, &:focus{
		border: none;
	}
}